<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chessie" version="0.6.0" targetFramework="net47" />
  <package id="FParsec" version="1.0.3" targetFramework="net47" />
  <package id="FSharp.Configuration" version="1.3.1" targetFramework="net47" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net47" />
  <package id="FSharp.Data" version="2.4.4" targetFramework="net47" />
  <package id="FSharp.Data.TypeProviders" version="5.0.0.2" targetFramework="net47" />
  <package id="FsUnit" version="3.0.0" targetFramework="net47" />
  <package id="Hopac" version="0.3.23" targetFramework="net47" />
  <package id="IntelliFactory.Xml" version="0.6.64.1" targetFramework="net47" />
  <package id="LetsEncrypt.Owin" version="1.2.0" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Diagnostics" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net47" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NodaTime" version="2.2.3" targetFramework="net47" />
  <package id="Npgsql" version="3.1.0" targetFramework="net47" />
  <package id="NUnit" version="3.9.0" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="OwinHost" version="3.1.0" targetFramework="net47" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net47" />
  <package id="SQLProvider" version="1.0.0" targetFramework="net47" />
  <package id="Suave" version="2.2.1" targetFramework="net47" />
  <package id="Suave.OAuth" version="0.11.0" targetFramework="net47" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net47" />
  <package id="System.Console" version="4.3.0" targetFramework="net47" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="net47" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net47" />
  <package id="System.Diagnostics.Process" version="4.1.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net47" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Security" version="4.0.0" targetFramework="net47" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net47" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Json" version="4.0.2" targetFramework="net47" />
  <package id="System.Security.Claims" version="4.0.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net47" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net47" />
  <package id="WebSharper" version="4.1.0.171" targetFramework="net47" />
  <package id="WebSharper.Formlets" version="4.1.16.82" targetFramework="net47" />
  <package id="WebSharper.Forms" version="4.1.27.121" targetFramework="net47" />
  <package id="WebSharper.FSharp" version="4.1.0.171" targetFramework="net47" />
  <package id="WebSharper.Html" version="4.1.16.91" targetFramework="net47" />
  <package id="WebSharper.Owin" version="4.1.15.83" targetFramework="net47" />
  <package id="WebSharper.Piglets" version="4.1.14.80" targetFramework="net47" />
  <package id="WebSharper.Reactive" version="4.1.16.80" targetFramework="net47" />
  <package id="WebSharper.Suave" version="4.1.33.111" targetFramework="net47" />
  <package id="WebSharper.UI" version="4.1.0.34" targetFramework="net47" />
  <package id="WebSharper.UI.Next" version="4.1.0.153" targetFramework="net47" />
</packages>