<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="db_name" value="jobapplicationspam" />
    <add key="db_user" value="postgres" />
    <add key="db_password" value="postgres" />
    <add key="email_username" value="rene.ederer.nbg@gmail.com" />
    <add key="email_password" value="Steinmetzstr9" />
    <add key="email_server" value="smtp.gmail.com" />
    <add key="email_port" value="587" />
    <add key="bash" value="cmd.exe" />
    <add key="bashArgs" value="/C" />
    <add key="python" value="C:/Program Files/LibreOffice 5/program/python.exe" />
    <add key="unoconv" value="c:/uniserverz/www/JobApplicationSpam/unoconv-master/unoconv" />
    <add key="userDirectory" value="/user/" />
    <add key="extractPath" value="./" />
    <add key="extractPath" value="./newZipPath/" />
    <add key="dbConnStr" value="Server=localhost; Port=5432; User Id=postgres; Password=postgres; Database=jobapplicationspam" />
    <add key="dbConnStrTest" value="Server=localhost; Port=5432; User Id=postgres; Password=postgres; Database=jobapplicationspamtest" />
  </appSettings>
</configuration>
